/* Geral */
*{
    font-family: 'Oswald', sans-serif;
    color:#fff;
}
p{
    font-size: 1.2rem;
}
/* Menu */
.navbar-brand{
    font-size: 3rem;
    z-index: 999999999999;
    position: absolute;
    height: 86px;
    background: #000000 !important;
    top: 0;
    padding: 0.1rem 1rem 1rem 1rem;
    border-bottom: 44px solid #212529!important;
    font-weight: bold;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
a.nav-link{
    font-size: 1.2rem;
}
/* Principal */
main{
    min-height: 87.5vh;
    background: #000000bd;
}
.bg-black{
    background-color: #000000;
}
.projetos .card{
    box-shadow: 1px 6px 21px 0px #000000;
    margin-bottom: 2rem;
}
.projetos .col-md-4:first-child .card img{
    max-width: 270px;
}
.projetos .col-md-4:nth-child(2) .card {
    height: 31rem;
}
/* Rodapé */
footer{
    background: #212529!important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}
.assinatura{
    text-decoration: underline;
}
.card{
    border: 0;
}
/* medias */
@media screen and (max-width: 992px) {

}